﻿<div class="jumbotron">
    <h1>Currency rates</h1>
    <p class="lead">Click following button to get current currency rates</p>
    <p><button data-bind="click: getRates" class="btn btn-primary btn-lg">Get Rates &raquo;</button>
    </p>
</div>

<div class="container">
    <div class="table-responsive" data-bind="visible: data.rates().length">
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Code</th>
                <th>Base</th>
                <th>Buy Amount</th>
                <th>Sell Amount</th>
            </tr>
            </thead>
            <tbody data-bind="foreach: data.rates">
                <td data-bind="text: $data.name">Name</td>
                <td data-bind="text: $data.code">Code</td>
                <td data-bind="text: $data.base">Base</td>
                <td data-bind="text: $data.buyAmount">Buy Amount</td>
                <td data-bind="text: $data.sellAmount">Sell Amount</td>
            </tbody>
        </table>
    </div>
</div>